@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Retro+Signature&display=swap');

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
--color-black: #000000;
  --color-white: #ffffff;
  --color-green: #14532d;
  --color-navy: #0f172a;
  --color-beige: #e7e5e4;

  --color-blue: #2563eb;
  --color-lightblue: #7dd3fc;
  --color-burgundy: #7c2d12;

  --color-red: #dc2626;
  --color-yellow: #facc15;
  --color-orange: #fb923c;
  --color-pink: #ec4899;
  --color-purple: #8b5cf6;
  --color-gray: #6b7280;
  --color-brown: #78350f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-rosa: #dbaaa2;
  --color-rosa-claro: #f2d5ce;
  --color-gris-clarito: #ededed;
  --color-verde-azulado: #527e7f;
  --color-verde-claro: #b2cebf;
  --text-shadow-soft: 0 1px 2px rgba(0, 0, 0, 0.35);
  --text-shadow-strong: 0 2px 4px rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 16px;
  width: 16px;
  background: #495568;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

input[type='range']::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background: #434d5e;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
/* Slider doble de precio personalizado */
.price-range {
  position: relative;
  width: 100%;
  height: 4px;
  /* más fina */
  background: #e5e7eb;
  /* gris claro */
  border-radius: 2px;
}